.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: lightblue;
}

.header-links {
  display: flex;
  gap: 20px;
}

.header-links a {
  color: blueviolet;
  text-decoration: none;
}

.header-links a:hover {
  text-decoration: underline;
}
main {
  flex: 1;
}

footer {
  background-color: lightgray;
}
